.playing-grid {
  position: absolute;
  display: grid;
  grid-template-areas: 'box0 box1 box2' 'box3 box4 box5' 'box6 box7 box8';
  grid-template-columns: repeat(3, 180px);
  left: 20vh;
  top: 33vh; }
  .playing-grid .box-0 {
    grid-area: box0; }
  .playing-grid .box-1 {
    grid-area: box1; }
  .playing-grid .box-2 {
    grid-area: box2; }
  .playing-grid .box-3 {
    grid-area: box3; }
  .playing-grid .box-4 {
    grid-area: box4; }
  .playing-grid .box-5 {
    grid-area: box5; }
  .playing-grid .box-6 {
    grid-area: box6; }
  .playing-grid .box-7 {
    grid-area: box7; }
  .playing-grid .box-8 {
    grid-area: box8; }
  .playing-grid .box {
    display: flex;
    flex-flow: nowrap;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 3px #2dbdbd solid;
    background: #373737;
    cursor: pointer; }
    .playing-grid .box:hover {
      background: #2b2b2b;
      transition: all 1s ease-out; }
    .playing-grid .box .marker {
      visibility: hidden; }
  .playing-grid .circle .marker {
    visibility: visible;
    width: 150px;
    z-index: 2;
    height: 150px; }
    .playing-grid .circle .marker:nth-child(1) {
      border-radius: 50%;
      border: 3px #fff solid; }
    .playing-grid .circle .marker:nth-child(2) {
      width: 0;
      height: 0; }
  .playing-grid .cross .marker {
    visibility: visible;
    height: 4px;
    width: 150px;
    z-index: 2;
    background: #fff; }
    .playing-grid .cross .marker:nth-child(1) {
      transform: rotate(45deg) translate(34px, -30px); }
    .playing-grid .cross .marker:nth-child(2) {
      transform: rotate(-45deg) translate(-34px, -30px); }

.clear-btn {
  background: #373737;
  text-align: center;
  width: 7rem;
  font-size: 1.5rem;
  border: 3px #2dbdbd solid;
  position: absolute;
  left: 30vh;
  top: 60vh;
  cursor: pointer; }
  .clear-btn:hover {
    border-color: #1b7373;
    opacity: 0.5;
    transition: all 1s ease-out; }

.turn-indicator {
  position: absolute;
  left: 4vh;
  top: 33vh; }
  .turn-indicator .crosses-turn, .turn-indicator .circles-turn {
    visibility: hidden;
    position: absolute; }
  .turn-indicator.circles .circles-turn {
    visibility: visible; }
  .turn-indicator.crosses .crosses-turn {
    visibility: visible; }

.menu-btn {
  position: absolute;
  z-index: 3;
  left: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .menu-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .menu-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6.5px); }
    .menu-btn.close .menu-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .menu-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6.5px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(-100%, 0, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(-600px, 0, 0);
    transition: all 1s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0);
      transition-delay: 0.3s; }
    .menu .nav-item.current > a {
      color: #2dbdbd; }
  .menu .nav-link {
    display: block;
    position: relative;
    font-size: 28px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: #2dbdbd; }

* {
  box-sizing: border-box; }

body {
  background: #444444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    margin-top: 1rem;
    font-size: 4rem;
    margin-bottom: 2rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    font-size: 2rem;
    margin-bottom: 4rem;
    background: #515151;
    border-bottom: #2dbdbd 5px solid; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #2dbdbd; }

main {
  padding: 3rem;
  height: 100%; }
  main .introduction {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'about about' 'contacts tictactoe';
    grid-template-columns: repeat(2, 1fr); }
    main .introduction .about-project {
      grid-area: about;
      padding: 0.5rem;
      background: #515151;
      padding: 0.5rem;
      border: #2dbdbd 3px solid; }
    main .introduction .about-contacts {
      grid-area: contacts;
      padding: 0.5rem;
      background: #515151;
      padding: 0.5rem;
      border: #2dbdbd 3px solid; }
    main .introduction .about-tic-tac-toe {
      grid-area: tictactoe;
      padding: 0.5rem;
      background: #515151;
      padding: 0.5rem;
      border: #2dbdbd 3px solid; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    transition: all 1s ease-out; }
    .boxes div:hover {
      padding: 1rem 2rem;
      background: #2b2b2b;
      border-color: #2dbdbd; }
    .boxes div .contact-link {
      color: #fff;
      text-decoration: none; }

@media screen and (min-width: 1171px) {
  .playing-grid {
    left: 70vh; }
  .turn-indicator {
    left: 45vh;
    top: 33vh; }
  .clear-btn {
    left: 45vh;
    top: 60vh; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
    main .introduction {
      grid-template-areas: 'about' 'contacts' 'tictactoe';
      grid-template-columns: 1fr; }
  .playing-grid {
    left: 10vh; }
  .turn-indicator {
    top: 22vh;
    left: 35vh; }
  .clear-btn {
    top: 25vh;
    left: 14vh; } }

@media screen and (max-width: 650px) {
  main#tictactoe h2 {
    visibility: hidden; }
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0; }
  .playing-grid {
    left: 1vh; }
  .turn-indicator {
    top: 22vh;
    left: 35vh; }
  .clear-btn {
    top: 25vh;
    left: 14vh; } }
