// Own file for tic tac toe because it required quite a lot of scss


// The grid for playing
.playing-grid {
    display: grid;
    grid-template-areas: 'box0 box1 box2' 'box3 box4 box5' 'box6 box7 box8';
    grid-template-columns: repeat(3, 20vh);
    margin-left: 65vh;

    .box-0 {
        grid-area: box0;
    }
    .box-1 {
        grid-area: box1;
    }
    .box-2 {
        grid-area: box2;
    }
    .box-3 {
        grid-area: box3;
    }
    .box-4 {
        grid-area: box4;
    }
    .box-5 {
        grid-area: box5;
    }
    .box-6 {
        grid-area: box6;
    }
    .box-7 {
        grid-area: box7;
    }
    .box-8 {
        grid-area: box8;
    }

    .box {
        display: flex;
        flex-flow: nowrap;
        height: 20vh;
        align-items: center;
        justify-content: center;
        border: 3px $secondary-color solid;
        background: darken($primary-color, 5);
        cursor: pointer;
        
        &:hover {
            background: darken($primary-color, 10);
            @include easeOut;
        }

        .marker {
            visibility: hidden;
            width: 15vh;
            z-index: 2;
            height: 15vh;
        }  

    }

    .circle {
        .marker {
            visibility: visible;
            
            &:nth-child(1) {
                border-radius: 50%;
                border: 3px #fff solid;
            }
            &:nth-child(2) {
                width: 0;
                height: 0;
            }
        }
    }

    .cross {
        .marker {
            visibility: visible;
            height: 4px;
            background: #fff;
            &:nth-child(1) {
                transform: rotate(45deg) translate(34px, -30px);
            }
            &:nth-child(2) {
                transform: rotate(-45deg) translate(-34px, -30px);
            }
        }
    }

}

// Button to clear the playing grid
.clear-btn {
    background: darken($primary-color, 5);
    text-align: center;
    width: 7rem;
    font-size: 1.5rem;
    border: 3px $secondary-color solid;
    position: absolute;
    left: 48vh;
    top: 58vh;
    cursor: pointer;

    &:hover {
        border-color: darken($secondary-color, 18);
        opacity: 0.5;
        @include easeOut;
    }
}


// Text that tells whose turn it is
.turn-indicator {
    position: absolute;
    left: 50vh;

    .crosses-turn, .circles-turn {
        visibility: hidden;
        position: absolute;
    }

    &.circles {
        .circles-turn {
            visibility: visible;
        }
    }

    &.crosses {
        .crosses-turn {
            visibility: visible;
        }
    }
}